html {
	font-family: 'Roboto', 'Ubuntu', sans-serif;
}

body {
	margin: 8px;
	background-color: #FFF;
}

hr {
	border: 0;
	border-top: 1px solid #000;
}

address {
	float: right;
	text-align: right;
	color: #444;
	padding-bottom: 8px;
}

img.card {
    max-height: 300px;
    max-width: 100%;
}

table {
    border-spacing: 0;
}

th, td {
    cursor: pointer;
    text-align: center;
}

#numberOfCards {
    max-width: 100px;
}

label, input, select {
    display: inline-block;
    vertical-align: middle;
}

i {
    color: #888;
}

.selected i {
    color: #000;
}

#thisCardIs h2 span:nth-of-type(1),
#thisCardIs h2 span:nth-of-type(2),
#thisCardIs p:first-of-type,
#thisCardIs p:first-of-type label span:nth-of-type(2),
#isReplaced,
label[for=isReplaced] {
    display: none;
}

#thisCardIs.plural p:nth-of-type(1) label span:nth-of-type(1),
#thisCardIs.plural h2 span:nth-of-type(1) {
    display: none !important;
}

#thisCardIs.plural h2 span:nth-of-type(2),
#thisCardIs.plural p:nth-of-type(1) label span:nth-of-type(2) {
    display: initial;
}

#cardColour, label[for=cardColour] {
    display: none;
}

span.colour {
    width: 18px;
    display: inline-block;
    text-align: center;
}

.selected {
    background-color: #ff0;
}

@media only screen and (min-width: 1016px) {
	body {
		width: 1000px;
		margin-left: calc(50% - 500px);
	}
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }

    body,
    a,
    img.libdarkness {
        filter: invert(1);
    }

    a:visited {
        color: #ff1;
    }

    a:not(:visited) {
        color: #2f2;
    }

    .selected {
        background-color: #44f;
    }

    img.card,
    span.colour {
        filter: invert(1);
    }
}
